{{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
  <div class="flex p-author h-card">
    {{ $lazy := .Params.enableImageLazyLoading|default  .Site.Params.enableImageLazyLoading | default true }}
    {{ $altText := ($.Site.Language.Params.Author.name | default "Author") }}
    {{ with .Site.Language.Params.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $imgClass := "u-photo !mb-0 !mt-0 me-4 w-24 h-auto rounded-full" }}
        {{ $pictureClass := "!mb-0 !mt-0 me-4 w-24 h-auto rounded-full" }}
        {{ with $authorImage }}
          {{ $width := .Width }}
          {{ $height := .Height }}
          <picture class="{{ $pictureClass }}">
            <img
              width="{{ $width }}"
              height="{{ $height }}"
              {{ with $imgClass }}class="{{ . }}"{{ end }}
              {{ with $altText }}alt="{{ . }}"{{ end }}
              {{ with $lazy }}loading="lazy" decoding="async"{{ end }}
              {{ if lt .Width 660 }}
                src="{{ .RelPermalink }}"
              {{ else }}
                src="{{ (.Resize "660x").RelPermalink }}"
                srcset=" {{- (.Resize "330x").RelPermalink }} 330w,
                {{- (.Resize "660x").RelPermalink }} 660w
                {{ if gt .Width 1024 }}
                  ,{{ (.Resize "1024x").RelPermalink }} 1024w
                {{ else }}
                  ,{{ .RelPermalink }} {{ .Width }}w
                {{ end }}
                {{ if gt .Width 1320 }}
                  ,{{ (.Resize "1320x").RelPermalink }} 1320w
                {{ else }}
                  ,{{ .RelPermalink }} {{ .Width }}w
                {{ end }}"
                sizes="100vw"
              {{ end }}
            />
          </picture>
        {{ end }}
      {{ end }}
    {{ end }}
    <div class="place-self-center">
      {{ with .Site.Language.Params.Author.name | markdownify | emojify }}
        <div class="text-[0.6rem] uppercase leading-3 text-neutral-500 dark:text-neutral-400">
          {{ i18n "author.byline_title" | markdownify | emojify }}
        </div>
        <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
          <a class="p-name u-uid" href="/">{{ . }}</a>
        </div>
      {{ end }}
      {{ with .Site.Language.Params.Author.bio | markdownify | emojify }}
        <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
      {{ end }}
      <div class="text-2xl sm:text-lg">{{ partialCached "author-links.html" . }}</div>
    </div>
  </div>
{{ end }}
