{{ $align := .align | default "center" }}
<section
  class="h-card not-prose {{ if eq $align "start" }}
    items-start
  {{ else if eq $align "end" }}
    items-end
  {{ else }}
    items-center
  {{ end }} mb-3 flex flex-col"
>
  {{ $lazy := site.Params.enableImageLazyLoading | default true }}
  {{ $altText := (site.Language.Params.Author.name | default "Author") }}
  {{ with site.Language.Params.Author.image }}
    {{ $authorImage := resources.Get . }}
    {{ if $authorImage }}
      {{ $imgClass := "u-photo" }}
      {{ $pictureClass := "mb-2 h-auto w-36 rounded-full" }}
      {{ with $authorImage }}
        {{ $width := .Width }}
        {{ $height := .Height }}
        <picture class="{{ $pictureClass }}">
          <img
            width="{{ $width }}"
            height="{{ $height }}"
            {{ with $imgClass }}class="{{ . }}"{{ end }}
            {{ with $altText }}alt="{{ . }}"{{ end }}
            {{ if lt .Width 660 }}
              src="{{ .RelPermalink }}"
            {{ else }}
              src="{{ (.Resize "660x").RelPermalink }}"
              srcset=" {{- (.Resize "330x").RelPermalink }} 330w,
              {{- (.Resize "660x").RelPermalink }} 660w
              {{ if gt .Width 1024 }}
                ,{{ (.Resize "1024x").RelPermalink }} 1024w
              {{ else }}
                ,{{ .RelPermalink }} {{ .Width }}w
              {{ end }}
              {{ if gt .Width 1320 }}
                ,{{ (.Resize "1320x").RelPermalink }} 1320w
              {{ else }}
                ,{{ .RelPermalink }} {{ .Width }}w
              {{ end }}"
              sizes="100vw"
            {{ end }}
          />
        </picture>
      {{ end }}
    {{ end }}
  {{ end }}
  <a class="p-name u-url u-uid text-4xl font-extrabold" href="/" >
    {{ site.Language.Params.Author.name | default site.Title }}
  </a>
  {{ with site.Language.Params.Author.headline }}
    <h2 class="p-note text-xl text-neutral-500 dark:text-neutral-400">
      {{ . | markdownify | emojify }}
    </h2>
  {{ end }}
  <div class="mt-1 text-2xl">
    {{ partialCached "author-links.html" . }}
  </div>
</section>
