RewriteEngine On
RewriteCond %{HTTPS} off

RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]=301]

 <If "%{REQUEST_URI} =~ m#^/.well-known/#">
 Header always set Access-Control-Allow-Origin "*"
 Header always set Access-Control-Allow-Headers "*" 
 Header always set Access-Control-Allow-Methods "GET" 
 </If> 