name: Build and Deploy

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    env:
      HUGO_VERSION: "0.136.2"
      HUGO_CACHEDIR: /tmp/hugo_cache
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: recursive

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3
        with:
          hugo-version: ${{ env.HUGO_VERSION }}
          extended: true

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: |
            ${{ env.HUGO_CACHEDIR }}
            resources/_gen/images
          key: ${{ runner.os }}-hugobuild-${{ env.HUGO_VERSION }}-${{github.head_ref || github.ref_name}}-${{ hashFiles('**/go.sum','site/assets') }}
          restore-keys: |
            ${{ runner.os }}-hugobuild-${{ env.HUGO_VERSION }}-${{github.head_ref || github.ref_name}}

      - name: Build
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            hugo -D --environment=development
          else
            hugo --minify --environment=production
          fi
        working-directory: ./site

      - name: Archive artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: hugo-build
          path: |
            site/public
          if-no-files-found: error

  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    env:
      WRANGLER_VERSION: "3.78.10"
    needs: [build, gitleaks]
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: hugo-build
          path: public

      - name: Cache wrangler install
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: |
            ~/.npm
            ./node_modules
          key: ${{ runner.os }}-wrangler-${{ env.WRANGLER_VERSION }}-${{github.head_ref || github.ref_name}}
          restore-keys: |
            ${{ runner.os }}-wrangler-${{ env.WRANGLER_VERSION }}

      - name: Deploy
        id: deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: ${{ env.WRANGLER_VERSION }}
          command: |
            pages deploy public --project-name=bckr-me --branch ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}

      - name: Comment PR
        if: ${{ github.event_name == 'pull_request' }}
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3
        with:
          comment-tag: deployment
          message: |
            PR deployed to ${{ steps.deploy.outputs.deployment-alias-url }} ! :rocket:
